*{
    background-color:rgb(12, 11, 10);
    text-align: center;

}
h3{
    color: brown;
    font-size: large;

}
p{
    color: rgb(66, 12, 1);
    font-size: medium;  
}

 .links{
    background-color: rgb(255, 5, 5);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.links:hover{
scale: 1.05;
color: rgb(0, 0, 0); 
}
.links:active{
    scale: 0.95;
}
